// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#single-article {
    a {
        &.btn-article {
            color: white !important;
        }
    
        .article-icon {
            font-size: 27px;
    
            &.fa-heart {
                color: red;
            }
        }
        .author-name {
            font-size: 20px;
            
        }
    }
    
    img {
        &.article-image {
            max-width: 100%;
        }
    
        &.profile-image {
            border-radius: 50%;
            height: 40px;
            width: 40px;
        }
    }
}