// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#single-article {
    a {
        &.btn-article {
            color: white !important;
        }

        .article-icon {
            font-size: 27px;

            &.fa-heart {
                color: red;
            }
        }

        .author-name {
            font-size: 20px;

        }
    }

    img {
        &.article-image {
            max-width: 100%;
        }

        &.profile-image {
            border-radius: 50%;
            height: 40px;
            width: 40px;
        }
    }
}

#all-articles {
    .featured-background {
background: #536976;
/* fallback for old browsers */
background: -webkit-linear-gradient(to top, #292E49, #536976);
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #292E49, #536976);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    a {
        &.btn-article {
            color: white !important;
        }

        .article-icon {
            font-size: 23px;

            &.fa-heart {
                color: red;
            }
        }

        .author-name {
            font-size: 16px;

        }
    }

    img {
        &.article-image {
            max-width: 100%;
        }

        &.profile-image {
            border-radius: 50%;
            height: 32px;
            width: 32px;
        }
    }
}